BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
IncludeBlocks: Regroup
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
ColumnLimit: 100
PenaltyBreakAssignment: 2
PenaltyReturnTypeOnItsOwnLine: 200
PointerAlignment: Left
AlignAfterOpenBracket: DontAlign
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
KeepEmptyLinesAtTheStartOfBlocks: true
SortIncludes: true
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: AcrossEmptyLines
AlignConsecutiveDeclarations: Consecutive
AlignEscapedNewlines: Right
AlignOperands: Align
InsertNewlineAtEOF: true
LineEnding: LF
